.TopBanner_TopBanner {
  position: relative;
  overflow: hidden;
  .slick-slider {
    margin-bottom: 0;
    .slick-slide {
      position: relative;

      @media (min-width: 1200px) {
        padding: 0 12px;
        box-sizing: content-box;
      }

      .banner-image {
        filter: brightness(50%);
        @media (min-width: 768px) and (max-width: 1199px) {
          height: 183px;
          border-radius: 3px 3px 0 0;
        }

        .item-image {
          width: 100%;
          height: 100%;
          border-radius: 4px;
          object-fit: cover;
        }
      }

      .banner-image > a {
        @media (min-width: 768px) and (max-width: 1199px) {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
        }
      }

      &.slick-active {
        .banner-image {
          filter: brightness(100%);
        }

        .item-info {
          text-align: left;
          opacity: 100;

          @media (min-width: 768px) and (max-width: 1199px) {
            text-align: center;
          }
        }
      }

      .item-info {
        text-align: center;

        @media (min-width: 1200px) {
          position: absolute;
          bottom: 28px;
          width: 330px;
          height: 146px;
          border-radius: 4px;
          background-color: #fff;
          opacity: 0;
          text-align: left;
          left: 34px;
        }

        .item-divider {
          @media (min-width: 768px) and (max-width: 1199px) {
            display: none;
          }

          @media (min-width: 1200px) {
            display: block;
          }
          height: 1px;
          margin: 0;
          border: none;
          -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
          flex-shrink: 0;
          background-color: #ececec;
        }

        h2 {
          @media (min-width: 1200px) {
            margin-left: 20px;
            margin-right: 20px;
            font-size: 20px;
            line-height: 1.5;
          }
          margin-top: 20px;
          font-size: 18px;
          line-height: 1;
          font-weight: 700;
          color: #333;
          width: 'auto';
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        h3 {
          @media (min-width: 1200px) {
            margin: 0 20px;
            height: 44px;
            font-size: 14px;
            line-height: 1.64;
            color: #333;
          }
          margin-top: 6px;
          font-size: 13px;
          font-weight: 500;
          line-height: 1.15;
          color: #666;
          width: 'auto';
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        hr {
          @media (min-width: 1200px) {
            display: block;
          }
        }

        a {
          @media (min-width: 1200px) {
            margin: 6px 0 0 13px;
          }
        }
      }
      
      .info-directButton {
        font-size: 14px;
        font-weight: 700;
        line-height: 1;
        color: #36f;
        padding: 6px 8px;
        display: inline-flex;
        position: relative;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        min-width: 64px;
        box-sizing: border-box;
        border-radius: 25px;
        cursor: pointer;

        .Button_label {
          width: 100%;
          font-size: inherit;
          font-weight: inherit;
          display: inherit;
          -webkit-align-items: inherit;
          -ms-flex-align: inherit;
          align-items: inherit;
          -webkit-justify-content: inherit;
          -ms-flex-pack: inherit;
          justify-content: inherit;
          color: inherit;
        }
        
        .Button_endIcon {
          margin-top: -2px;
          margin-right: -1px;
          margin-left: 2px;

          svg {
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            width: 1em;
            height: 1em;
            display: inline-block;
            fill: currentColor;
            -webkit-flex-shrink: 0;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            font-size: inherit;
          }
        }
      }
    }

    .slick-slide > div {
      margin: 20px 10px;
    }

    .slick-slide>div>div>div>a>img {
      display: inline-block;
    }
  }

  .SvgIcon {
    width: 100%;
    display: flex;
    -webkit-align-items: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -webkit-justify-content: inherit;
    -ms-flex-pack: inherit;
    justify-content: inherit;
  }

  .SvgIcon_SvgIcon {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: inherit;
  }

  .TopBanner_arrow {
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 120px;
    width: 30px;
    height: 60px;
    opacity: 0.5;
    border-radius: 15px;
    background-color: #fff;
    font-size: 16px;
  }

  .nextArrow {
    right: calc((100% - 1200px) / 2);
  }
  .prevArrow {
    left: calc((100% - 1210px) / 2);
  }

  button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
  }
}